.my-header div div div:nth-of-type(1) {
    position: absolute; width: 30%; text-align: left; line-height: 50px; height: 50px; z-index: 9999;
}
.my-header div div div:nth-of-type(1) span {
    font-size: 30px; line-height: 50px;
}
.my-header div div div:nth-of-type(2){
    position: relative; text-align: center; width: 100%; margin-right: 0px;
}
.my-header div div div:nth-of-type(2) span{
    line-height: 50px; font-size: 25px; color: gray;
}
.my-header div div{
    height: 50px; width: 100%;
}
.my-header div div div:nth-of-type(3) {
    position: absolute; width: 10%; top: 0px; right: 0px; line-height: 50px; height: 50px; z-index: 99999;
}
.my-header div div div:nth-of-type(3) span {
    font-size: 30px; line-height: 50px;
}

.carousel-inner img {
    width: 100%;
}
.my-hotelsimpleinfo span:nth-of-type(1) {
    font-weight:900;
}
.my-hotelsimpleinfo span:nth-of-type(2) {
    color: orange;
}
.my-hotelsimpleinfo span:nth-of-type(3) {
    font-weight:900;
}
.my-hotelsimpleinfo span:nth-of-type(4) {
    font-weight:900;
}
.my-hotelsimpleinfo span:nth-of-type(5) {
    position: absolute; right: 12%; color: blue;
}
.btn-date-picker {
    display: inline-block;
    background: #fff;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    width: 100%;
}
.my-room-info img {
    width: 80px; height: 80px;
}
.my-room-info div {
    position: relative; top: -80px; left: 80px; margin-right: 80px;
}
.my-room-info div span:nth-of-type(1) {
    position: absolute; left: 6px; top: 0px; font-size: large;
}
.my-room-info div span:nth-of-type(2) {
    position: absolute; left: 6px; top: 35px; color: gray;
}
.my-room-info div span:nth-of-type(3) {
    position: absolute; right: 10%; top: 55px; color: red; font-size: x-large;
}
.my-room-info div span:nth-of-type(3) span {
    position: relative; color: gray; font-size: small;
}
.my-room-info div span:nth-of-type(4) {
    position: absolute; left: 95%; top: 35px;
}
.my-rateplan-info div {
    background: #F4F4F4; height: 60px;
}
.my-rateplan-info div span:nth-of-type(1){
    position: relative; top: -10px; font-size: 20px;
}
.my-rateplan-info div span:nth-of-type(2){
    position: relative; top: 10px; left: -60px; color: gray;
}
.my-rateplan-info div span:nth-of-type(3){
    position: relative; left: 30%; color: red; font-size: 20px;
}
.my-rateplan-info div div:nth-of-type(1) span:nth-of-type(1){

}
.my-rateplan-info div div:nth-of-type(1) div:nth-of-type(1){
    color: gray; top: -10px; position: relative; height: 8px;
}
.my-rateplan-info div div:nth-of-type(2){
    position: relative; left: 50%; top: -60px; height: 20px; color: red; font-size: 20px;
    background-color:#F4F4F4;
    filter:Alpha(opacity=100);
    width: 40%;
    *zoom:1; /* 激活IE6、7的haslayout属性，让它读懂Alpha */
}
.my-rateplan-info div div:nth-of-type(3){
    position: relative; height: 32px; width: 35px; left: 90%; top: -88px; background: red; text-align: center; line-height: 35px;
}
.my-rateplan-info div div:nth-of-type(3) span{
    color: white; font-size: 30px; top: 0px;
}
.my-rateplan-info div div:nth-of-type(3) div:nth-of-type(1){
    position: relative; height: 20px; width: 35px; left: 0px; top: -5px; background: white; border-width: 1px; border-color: red; border-style: solid; text-align: center; line-height: 20px;font-size: 10px;
}
