body {
	background: #fff !important;
}
.navbar {
  min-height: 44px;
}
.navbar-default {
  background-image: none; border-radius: 0; box-shadow: none;
}
.my-header div div div:nth-of-type(1){
	position: relative; text-align: center; width: 100%; margin-right: 0px;
}
.my-header div div div:nth-of-type(1) span{
	line-height: 44px; font-size: 20px; color: #444; font-weight: bold;
}
.my-header div div{
	height: 44px; width: 100%;
}
.my-header div div div:nth-of-type(2) {
	position: absolute; width: 10%; top: 0px; right: 0px; line-height: 44px; height: 44px; z-index: 99999;
}
.my-header div div div:nth-of-type(2) span {
	font-size: 20px; line-height: 44px; color: #858585;
}

.my-hotellist img {
	width: 72px; height: 72px; float: left;
}
.my-hotellist span {
	display: block; margin-left: 80px;	font-size: 12px; line-height: 18px;	color: #999;
}
.my-hotellist span:nth-child(2) {
	font-size: 15px; line-height: 16px;	height: 16px;	color: #353535;
}

.my-hotellist span:nth-child(3) {
	font-weight: bold; line-height: 20px; color: #49f;
}

.my-hotellist span:nth-child(3) span {
	display: inline; margin-left: 0;	font-weight: normal; color: #b2b2b2;
}
.my-hotellist span:nth-child(6) {
	position: absolute; right: 8px; top: 25px; line-height: 20px; text-align: right; color: #f55; font-size: 17px;
}

.list-group {
	-webkit-box-shadow: none; box-shadow: none;
}
.list-group-item {
	padding: 8px 0;	margin: 0 8px; border: 0;	border-bottom: 1px solid #DDD; position: relative; overflow: hidden; border-color: #ebebeb
}
#noHotelInfo,#pullMoreHotel{
	margin-bottom: 15px;
}

.search-item {
	padding: 0 10px; margin-top: 10px;
}
.search-item i:nth-child(1) {
	font-size: 16px; color: #9B9B9B; position: absolute; top: 9px; left: 0;
}
.search-item i:nth-child(2) {
	font-size: 8px; color: #ACACAC; position: absolute; top: 12px; right: 0;
}
.form-control {
	background: #fff !important; border: 0; border-radius: 0; box-shadow: none; border-bottom: 1px solid #ccc; text-align: left; padding-left: 26px; text-align: left;
}
.form-control:focus {
	box-shadow: none; outline: medium;
}
.search-item .tit {
	font-size: 14px; line-height: 20px; margin-bottom: 2px; margin-top: 10px;
}
.search-item .btn {
	font-size: 12px; box-shadow: none; text-shadow: none;
}
.search-item .btn-default {
	border-color: #ececec; background: #fff; color: #333;
}
.search-item .btn-info,
.search-item .btn-info:active {
	border-color: #adcbfb; background: #fff; color: #5B97F8; z-index: 1;
}
.search-box {
	margin: 20px auto 25px;
}
.search-box .btn-info{
	border: 0;
}
.search-box .btn,.search-box .btn:active{
	display: block; width: 92%; margin: 0 auto; height: 36px; font-size: 14px; color: #fff; background: #5B97F8; background-image: none; line-height: 36px; padding: 0; border-radius: 8px; box-shadow: none; border: none;
}

.container{
	padding: 0;
}
.row{
	margin-right: 0; margin-left: 0;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
	padding-right: 0; padding-left: 0;
}